@tailwind base;
@tailwind components;
@tailwind utilities;

.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter:hover {
  background-color: #ddd;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
}
